<% include partials/header %>


<div class="container">

	<header class="jumbotron">
	<h1>Companies</h1>
	<p>View our hand-picked list of companies</p>
	<p>
		<a class="btn" href="/companies/new" id="newcompany"> Add new Company</a>
	</p>
	
	</header>

	<div class="row text-center" style="display:flex;flex-wrap:wrap;">
		<% companies.forEach(function(camp){ %>
			<div class="col-md-3 col-sm-6">
		
				<div class="thumbnail">
					<img src = "<%= camp.image %>" >
					<div class="caption">
						<h4> <%=camp.name%> </h4>
					</div>
					<p>
						<a href="/companies/<%=camp._id%>" class="btn btn-primary">More Info</a>
					</p>
				</div>
				
			</div>		
	
		<% }); %>
	</div>

	
</div>




<% include partials/footer %>