<% include partials/header %>


<style>
body {
    background-image:url("https://i.imgur.com/8J1BhTy.jpg");
}
#viewall{
	 margin:20% 0% 45% 45%;
  padding: 10px;
}
</style>


<body >
	
				
		<a href="/companies" id="viewall" class="btn btn-primary" class="centre">View All Companies</a>
	
	
</body>
<!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright: Satish Singh, Tejas Patil
      
    </div>
    <!-- Copyright -->

<% include partials/footer %>