<% include partials/header %>

<h1><%= companies.name%></h1>

<img src="<%=companies.image%>">

<p><%= companies.description %></p>
<p><a href="<%= companies.website %>"><% companies.website%></a></p>

<% include partials/footer %>